@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

:root {
    --card-border-radius: 14px;
}

html {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin: 10px 0;
}

/* Sidebar */
.sidebar {
    background-color: #4590CE;
}

.sidebar ul, .sidebar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Header */
.search-bar {
    background-color: #E3E8EF;
}

.profile-photo {
    border: 3px solid black;
    border-radius: 50%;
}

/* Main */
.main {
    background-color: #E3E8EF;
}

.projects > .card {
    background-color: white;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.projects > .card > div.border {
    width: 7px;
    background-color: #E7B64A;
}

.announcements > .news-container {
    background-color: white;
    border-radius: var(--card-border-radius);
}

.announcements > .news-container > .news {
    border-bottom: 1px solid #00000030;
}

.announcements > .news-container > .news:last-child {
    border-bottom: none;
}

.trending > .user-container {
    background-color: white;
    border-radius: var(--card-border-radius);
}